html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}


#game-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#game-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(30, 16px);
  grid-template-rows: repeat(30, 16px);
  image-rendering: pixelated;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
}


.tile {
  width: 16px;
  height: 16px;
  background-size: cover;
}

.grass { background-image: url('assets/grass.png'); }
.tree { background-image: url('assets/tree.png'); }


#player {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('assets/dino.png');
  background-size: cover;
  background-color: transparent;  /* force transparency */
  z-index: 10;
}




